.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-color: #f2f2f2;
}

.app-header {
  flex-grow: 1;
  width: 100%;
  background-color: #e60000;
  color: white;
  text-align: center;
}

.app-container {
  flex-grow: 2;
  max-width: 75%;
  width: 75%;
  margin: 0 auto;
}

.navigation {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #d9d9d9;
}

.navigation > .tabs-container {
  width: 50%;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.tabs-container > button {
  min-height: 36px;
  background-color: white;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
  color: grey;
}

.tabs-container > button:nth-child(1) {
  margin-right: 1em;
}

.tabs-container > button.selected {
  border-bottom: 4px solid #000;
  color: #000;
}

.app-footer {
  flex-grow: 1;
}

.buttons-grid {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto;
}

.type-button {
  position: relative;
  min-height: 36px;
  padding: 0 18px 0 36px;
  text-transform: uppercase;
  font-weight: bold;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 18px;
  box-shadow: 0px 1px 5px #ebebeb;
  transition: background-color .25s ease-in-out;
}

.type-button.selected {
  background-color: #ccc;
}

.type-button:hover {
  background-color: #fafafa;
}

.type-button::before {
  content: "";
  position: absolute;
  background: a1a1a1;
  width: 18px;
  height: 18px;
  top: calc(50% - 10px);
  left: calc(0% + 9px);
  border-width: 1px;
  border-style: solid;
  border-color: #a1a1a1;
  border-radius: 50%;
}

.steel.type-button::before {
  background-color: #a1a1a1;
  border-color: #595959;
}

.water.type-button::before {
  background-color: #3495eb;
  border-color: #105ea2;
}

.bug.type-button::before {
  background-color: #caed6b;
  border-color: #688811;
}

.dragon.type-button::before {
  background-color: #69096e;
  border-color: #170218;
}

.electric.type-button::before {
  background-color: #fff533;
  border-color: #999100;
}

.ghost.type-button::before {
  background-color: #514170;
  border-color: #171320;
}

.fire.type-button::before {
  background-color: #eb3717;
  border-color: #5e1508;
}

.fairy.type-button::before {
  background-color: #f6d0f7;
  border-color: #bd7cbf;
}

.ice.type-button::before {
  background-color: #93ede9;
  border-color: #5bc9c4;
}

.fight.type-button::before {
  background-color: #8c4029;
  border-color: #664338;
}

.normal.type-button::before {
  background-color: #c9b5a9;
  border-color: #8f8077;
}

.grass.type-button::before {
  background-color: #77e36d;
  border-radius: #5b9456;
}

.psychic.type-button::before {
  background-color: #e681b3;
  border-color: #a83b72;
}

.rock.type-button::before {
  background-color: #baaa7b;
  border-color: #857958;
}

.dark.type-button::before {
  background-color: #30280f;
  border-color: #0d0b04;
}

.ground.type-button::before {
  background-color: #e6be43;
  border-color: #a8924c;
}

.poison.type-button::before {
  background-color: #5d326b;
  border-color: #35233b;
}

.fly.type-button::before {
  background-color: #5e99e6;
  border-color: #607fa8;
}