:root {
  --steel-color: #a1a1a1;
  --water-color: #3495eb;
  --bug-color: #caed6b;
  --dragon-color: #69096e;
  --electric-color: #fff533;
  --ghost-color: #514170;
  --fire-color: #eb3717;
  --fairy-color: #f6d0f7;
  --ice-color: #93ede9;
  --fight-color: #8c4029;
  --normal-color: #c9b5a9;
  --grass-color: #77e36d;
  --psychic-color: #e681b3;
  --rock-color: #baaa7b;
  --dark-color: #30280f;
  --ground-color: #e6be43;
  --poison-color: #5d326b;
  --fly-color: #7babea;
}

@keyframes bounce-anim {
  0% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-color: #f2f2f2;
}

.app-header {
  flex-grow: 1;
  width: 100%;
  background-color: #e60000;
  color: white;
  text-align: center;
  border-bottom: 8px solid #000;
}

.app-container {
  flex-grow: 2;
  max-width: 75%;
  width: 75%;
  margin: 0 auto 1em auto;
}

.navigation {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0px 2px 4px #e6e6e6;
}

.navigation > .tabs-container {
  width: 50%;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.tabs-container > button {
  min-height: 36px;
  background-color: white;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
  color: grey;
}

.tabs-container > button:nth-child(1) {
  margin-right: 1em;
}

.tabs-container > button.selected {
  border-bottom: 4px solid #000;
  color: #000;
}

.app-footer {
  flex-grow: 1;
}

.buttons-grid {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto;
}

.buttons-grid.secondary.animate .type-button {
  -moz-animation: bounce-anim .4s ease-in-out .2s;
  -webkit-animation: bounce-anim .4s ease-in-out .2s;
  animation: bounce-anim .4s ease-in-out .2s;
}

.type-button {
  position: relative;
  min-height: 36px;
  padding: 0 18px 0 36px;
  text-transform: uppercase;
  font-weight: bold;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 18px;
  box-shadow: 0px 1px 5px #ebebeb;
  transition: background-color .25s ease-in-out;
}

.type-button:disabled {
  background-color: #f2f2f2;
  color: #ccc;
  border-color: #ccc;
  box-shadow: none;
}

.type-button:disabled::before {
  opacity: .6;
}

.type-button.selected {
  background-color: #ccc;
}

.type-button::before {
  content: "";
  position: absolute;
  background: a1a1a1;
  width: 18px;
  height: 18px;
  top: calc(50% - 10px);
  left: calc(0% + 9px);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .35);
  border-radius: 50%;
}

.result-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.result-box {
  border: 1px solid rgba(0, 0, 0, .15);
  margin: 0 4px;
  padding: 4px 12px;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .80);
  border-radius: 3px;
}

.result-box.small {
  padding: 0px 4px;
  font-weight: 300;
  font-size: small;
}

.steel.result-box {
  background-color: var(--steel-color);
}

.water.result-box {
  background-color: var(--water-color);
}

.bug.result-box {
  background-color: var(--bug-color);
}

.dragon.result-box {
  background-color: var(--dragon-color);
}

.electric.result-box {
  background-color: var(--electric-color);
}

.ghost.result-box {
  background-color: var(--ghost-color);
}

.fire.result-box {
  background-color: var(--fire-color);
}

.fairy.result-box {
  background-color: var(--fairy-color);
}

.ice.result-box {
  background-color: var(--ice-color);
}

.fight.result-box {
  background-color: var(--fight-color);
}

.fighting.result-box {
  background-color: var(--fight-color);
}

.normal.result-box {
  background-color: var(--normal-color);
}

.grass.result-box {
  background-color: var(--grass-color);
}

.psychic.result-box {
  background-color: var(--psychic-color);
}

.rock.result-box {
  background-color: var(--rock-color);
}

.dark.result-box {
  background-color: var(--dark-color);
}

.ground.result-box {
  background-color: var(--ground-color);
}

.poison.result-box {
  background-color: var(--poison-color);
}

.fly.result-box {
  background-color: var(--fly-color);
}

/* Esto es horrible pero no se me ocurre manera más fácil de hacerlo */
.steel.type-button::before {
  background-color: var(--steel-color);
}

.water.type-button::before {
  background-color: var(--water-color);
}

.bug.type-button::before {
  background-color: var(--bug-color);
}

.dragon.type-button::before {
  background-color: var(--dragon-color);
}

.electric.type-button::before {
  background-color: var(--electric-color);
}

.ghost.type-button::before {
  background-color: var(--ghost-color);
}

.fire.type-button::before {
  background-color: var(--fire-color);
}

.fairy.type-button::before {
  background-color: var(--fairy-color);
}

.ice.type-button::before {
  background-color: var(--ice-color);
}

.fight.type-button::before {
  background-color: var(--fight-color);
}

.fighting.type-button::before {
  background-color: var(--fight-color);
}

.normal.type-button::before {
  background-color: var(--normal-color);
}

.grass.type-button::before {
  background-color: var(--grass-color);
}

.psychic.type-button::before {
  background-color: var(--psychic-color);
}

.rock.type-button::before {
  background-color: var(--rock-color);
}

.dark.type-button::before {
  background-color: var(--dark-color);
}

.ground.type-button::before {
  background-color: var(--ground-color);
}

.poison.type-button::before {
  background-color: var(--poison-color);
}

.fly.type-button::before {
  background-color: var(--fly-color);
}